@media screen and (max-width: 750px)
{
.services h1{
	width: 50%;
}

.s3 h6{
	font-size: 10px;
	margin: 0;
	width: 20%;
	display: inline-block;
	z-index: 1;
	position: relative;
}

.s3text{
	width: 100%;
	display: inline-block;
	z-index: 2;
	position: relative;
	transform: translateY(-11%);
}

.about{
	height: 50vw;
	margin-top: 5%;
}

.aboutme{
height: 90%;
width: 100%;

}

.abouttxt{
font-size: 20px;
}

.aboutimg img{
	height: 150px;
	width: 150px;
	margin-top: 5%;
}

.wrapper h1{
font-size: 25px;
left: -30px;
top: -40px;
width: 220px;
}

}