@media screen and (max-width: 600px)
{

.topnava{
	width: 75%;
}

	.sb{
	height: 40%;
	width: 100%;
	position: relative;
	transform: translate(0, 0);
/*	border: 3px solid green;*/
	margin: 5% auto 0;
}
.sb button{
	height: 5.5vw;
	width: 13.5vw;
}

.logo{
	height: 60%;
	width: 80%;
	display: block;
	margin: 2% auto 13%;
	padding: 0 auto 20px;
	border-radius: 5%;
/*	box-sizing: border-box;*/
}

/*Services*/
.services{
height: 50%;
width: 100%;
margin: 5% auto;
}

.services h1{
font-size: 20px;
text-align: center;
width: 75%;
/*		color: #EEEFEFff;*/
/*		margin: 0;*/
}

.services img{
width: 95%;
height: 12px;
margin: 2% auto;
display: block;
border-radius: 10px;
}

/*Top Two boxes*/

.s1{
	float: left;
	width: 45%;
	height: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: top;
/*	border: 5px solid #EEEFEFff;*/
	border-radius: 10px;
	box-sizing: border-box;
	margin-left: 3%;
}
	.s1 h3{
		font-size: 20px;
/*		color: #EEEFEFff;*/
		text-align: center;
		margin: 0px 0 15px 0;
	}
		.s1text{
			font-size: 15px;
/*			color: #EEEFEFff;*/
			text-align: center;
		}
			.s1text h6{
				margin: 0;
				font-size: 5px;
			}
				.s2{
					float: right;
					width: 45%;
					height: 85%;
					margin: 0 auto;
					display: flex;
					justify-content: center;
					align-items: top;
/*					border: 5px solid #EEEFEFff;*/
					border-radius: 10px;
					box-sizing: border-box;
					margin-right: 3%;
				}
					.s2 h3{
						font-size: 20px;
/*						color: #EEEFEFff;*/
						text-align: center;
						margin: 0 0 15px 0;
					}
						.s2text{
							font-size: 15px;
/*							color: #EEEFEFff;*/
							text-align: center;
						}


/*Bottom Box*/
.s3{
	width: 70%;
	height: auto;
	margin: 1% auto 10%;
/*	display: flex;
	justify-content: center;
	align-items: center;*/
/*	border: 5px solid #EEEFEFff;*/
	border-radius: 10px;
	box-sizing: border-box;
}

.s3 h6{
	font-size: 10px;
	margin: 0;
	width: 20%;
	height: 100%;
	display: inline-block;
}

.s3text{
	width: 100%;
	display: inline-block;
	position: relative;
	transform: translateY(-20%);
}
	.s3text p{
		font-size: 15px;
/*		color: #EEEFEFff;*/
		text-align: center;
		width: 100%;
/*		margin: 8px 0;*/
		
	}
		.s3text h3{
			font-size: 20px;
/*			color: #EEEFEFff;*/
			text-align: center;
			margin: 5px 0;
		}
			.s3text h2{
				font-size: 10px;
				margin: 0;
/*				color: #EEEFEFff;*/
				text-align: center;
				
			}

/*Footer*/
.footerc{
	background-color: white;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pglinks, .smlinks, .bzinfo{
	float: left;
	width: 25%;
/*	margin-left: 60px;*/
}
/*.pglinks:after, .smlinks:after, .bzinfo:after{
	content: '';
	display: table;
	clear: both;
}*/
.pglinks{
	text-align: center;
	text-decoration: none;
	transform: translateY(-100%);
	margin-right: 5%;
}
.smlinks{
	transform: scale(1.5);
}
.bzinfo{
	font-size: 11px;
	text-align: center;
/*	margin-right: 10%;*/
	transform: translateX(-7%);
}

.pglinks a{
	color: black;
	font-size: 11px;
}
.pglinks a:hover{
	opacity: .7;
}

.about{
	height: auto;
	margin-top: 15%;
}

.aboutme{
height: 90%;
width: 100%;
display: inline-block;
justify-content: left;
align-items: left;
}

.abouttxt{
font-size: 15px;
margin-top: 3%;
}

.aboutimg img{
	height: 100px;
	width: 100px;
}
.wrapper h1{
font-size: 20px;
left: -30px;
top: -30px;
width: 170px;
}

}