/* CSS HEX 
--black: #010304ff;
--antiflash-white: #EEEFEFff;
--rose-ebony: #563738ff;
--off-red-rgb: #F8050Dff;
--maroon: #810206ff;
*/

/* SCSS RGB 
$off-red-rgb: rgba(248, 5, 13, 1);
$rose-ebony: rgba(86, 55, 56, 1);
$black: rgba(1, 3, 4, 1);
$eerie-black: rgba(25, 24, 26, 1);
$antiflash-white: rgba(238, 239, 239, 1);
*/

body, html{
	background-color: #010304;
	height: 100%;
	margin: 0;
}

/*Top Nav Bar*/
.topnav{
	background-color: #010304;
	overflow: hidden;
}

.topnavlogo{
	float: right;
	padding: auto;
	
}
.topnavlogo a:hover{
	background-color: transparent;
}

.topnav a{
	float: left;
	color: #F8050D;
	text-align: center;
	padding: 14px 16px;
	text-decoration: underline;
	font-size: 20px;
}

.topnav a:hover{
	background-color: #ddd;
	color: black;
	opacity: .4;
}


.topnav a.active{
	background-color: #563738;
	color: white;
}

/*Main Page Logo*/
.sb{
	height: 100%;
	position: relative;
	transform: translate(0, 0);
/*	border: 3px solid green;*/
	margin: 1% auto 5%;
}
.sb .logo{
	height: 85%;
	width: 85%;
	display: block;
	margin: 5% auto 13%;
	padding: 0 auto 20px;
	border-radius: 50%;
/*	box-sizing: border-box;*/

}
.sb button{
	height: 8%;
	width: 170px;
	font-weight: Bold;
	border-radius: 45px;
	color: #010304ff;
	background: #EEEFEFff;
	font-size: 20px;
	cursor: pointer;
	padding: 15px;
	position: absolute;
	bottom: 17%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
}

.sb button:hover{
	opacity: .85;
}

/*.logo {
	height: 85%;
	width: 85%;
	display: block;
	margin: 5% auto 10%;
	padding: 0 auto 20px;
	border-radius: 50%;
	box-sizing: border-box;
}*/

/*Slideshow*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*Contact Form*/
.container{
	width: 100%;
	height: 800px;
	background: #010304;
	display: flex;
	align-items: center;
	justify-content: center;
}
form{
	background: #F8050D;
	display: flex;
	flex-direction: column;
	padding: 1vw 4vw;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
}
form h3{
	color: #EEEFEF;
	font-weight: 800;
	margin-bottom: 25px;
	font-size: 40px;
	text-align: center;
}
form input, form textarea{
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 16px;
}
form button{
	padding: 15px;
	background: #810206;
	color: #EEEFEF;
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 150px;
	margin: 20px auto 0;
	border-radius: 30px;
}
footer{
	height: 100px;
	width: 100%;
	background-color: #F8050D;
/*	border-radius: 10px;*/
	margin: 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
footer a{
	width: 56px;
	color: #EEEFEF;
	text-decoration: none;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

}

footer	a:hover{
	text-decoration: underline;
}

.wrapper{
	min-height: 100%;
	margin-bottom: -50px;
}
.footer, .push{
	height: 100px;
}
